__pycache__
wandb
output*
preprocessed_data
results

*fbx*/
*.log
*.ckpt
*.pth
*.csv
*.tsv
*.json
*.npy
*.npz
*.h5
*.hdf5
*.zip
*.tar.gz
*.egg-info
.DS_Store
.vscode
.idea
.env
.ipynb_checkpoints
*.sqlite3
__pycache__/
*.so
*.dylib
*.dll
*.exe
*.out
*.class
*.o
*.obj
*.lib
*.a
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.pyre/
.mypy_cache/
.pytype/
cython_debug/       
